13-10-2022
Inteligencia Artificial 
===
Investigar y analizar los data sets de Kaggle para poder hacer una mejora o cosas por el estilo (jugar con la creatividad, predicciones en base a los que se encuentran) [no se impondrá ningún data set]

La relación dek dataset mostrado es de 1-1; y se llama modelos relacionales por la relación que se tienen entre ellas. 

Para hacer la transformación a una relación 1-N en SQL se haría de la siguiente manera: 
Ejemplo: 
(Relación 1-1)
País         Y2001           Y2002
HND            17              18
ARG            15              16

Para una relación 1-N
País         Year           Value
HND          2001             14
HND          2002             17
ARG          2001             15
ARG          2002             16

Group by
--- 
Dice que habrá una reducción de columnas, y hay una posibilidad que reduzca el número de registros

//Operación que se hace en sql para hacer el cambio de relación es: 
- Select Pais, 'Y2001' as Year, Y2001 as Values from T Union All
- Select Pais, 'Y2002' as Year, Y2002 as Values from T

El equivalente en pandas de la operacion anterior es "LOC" para la selección, "CONCAT" para la unión

In [2]:
import pandas as pd 
import numpy as np

In [ ]:
df = pd.read_csv("Nombre archivo.csv", delimeter = ",")

In [ ]:
df.dtypes

dtypes va a mostrar el tipo de datos de cada tabla

In [ ]:
df.describe()

El describe() nos muestra los valores importantes de la tabla y nos ayuda a darnos cuenta si se encuentran valores atípicos en los datos

loc[ : , : ]
En la parte izquierda de los corchetes hace referencia a los filtros y validaciones que se quieran aplicar a nivel de registro; mientras que en la parte derecha de los corchetes es un arreglo de strings para poder hacer una selección de las columnas con las que se quieren trabajar 

Select * From T Where C1 = "Y" en loc sería de la siguiente manera
T.LOC[:,:]
- El asterisco va en la parte derecha del corchete
- Todo lo que va después del Where va en la parte derecha del corchete 
- T es el nombre de la tabla

In [ ]:
dftemp= df.loc[:,['Country Name','Country Code','1991']]
dftemp['Year'] = '1991'
dftemp.columns = ['Country Name', 'Country Code','Value','Year']
dftemp.loc[:,'Country Name', 'Country Code','Year', 'Value']

df.columns 
Retorna el nombre de las columnas

In [ ]:
dffinal = pd.DataFrame()
for y in df.columns[2:]:
    dftemp= df.loc[:,['Country Name','Country Code',y]]
    dftemp['Year'] = y
    dftemp.columns = ['Country Name', 'Country Code','Value','Year']
    dftemp.loc[:,'Country Name', 'Country Code','Year', 'Value']
    
    dffinal = pd.concat([dffinal, dftemp])

Como no se quieren iterar las primeraas dos columnas, entonces se hace el uso de: 
    df.columns [2:] de esta manera se va a tomar del valor 2 hasta el último, y si se quiere en un rango entonces se coloca ambos números
    
El pd.concat unirá los dataframe que se coloquen dentro de los corchetes; primero se pondrá donde se unirán y luego el temporal

Con la función merge añadirle más información a esto que se hizo. Información demogáfica [continente, población], por tanto se deberá buscar un dataframe de información de país

Máximo de información 7285 registros